package client

import (
	"context"
	"log"
    pb "github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/gen/api/v1"

	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)


func Execute(){
    url := {{.GrpcClientServiceName}}:{{.GrpcClientPort}}

    conn, err := grpc.Dial(url ,grpc.WithTransportCredentials(insecure.NewCredentials()))

    if err != nil {
		log.Fatal(err)
	}

    {{.SmallResourceNameSingular}}Client := pb.New{{.CapsResourceNameSingular}}ServiceClient(conn)

    ping, err := {{.SmallResourceNameSingular}}Client.Ping(context.Background(), &pb.Request{})

    if err != nil {
		log.Fatal(err)
	}

    log.Println(ping)
}   