package client

import (
	"context"
	"log"
    pb "github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/gen/api/v1"

	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)

var (
	host = "localhost:"
	port =  {{.gRPCServerPort}}
)

func Execute(){
    url := host + port

    conn, err := grpc.Dial(url ,grpc.WithTransportCredentials(insecure.NewCredentials()))

    if err != nil {
		log.Fatalln(err)
	}

    {{.ResourceNameSingular}}Client := pb.New{{.ResourceName}}ServiceClient(conn)

    ping, err := {{.ResourceNameSingular}}Client.Ping(context.Background(), &pb.Request{})

    if err != nil {
		log.Fatalln(err)
	}

    log.Println(ping)
}   