{{if .IsServer }}
# sample Post curl command
curl -X POST -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users

# sample Get curl command
curl -X GET -H "Content-Type: application/json" \
http://localhost:8080/v1/users

# sample Put curl command
curl -X PUT -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users/123

# sample Put curl command
### wrong id passed in param
curl -X PUT -H "Content-Type: application/json" \
-d '{"id":"123","name": "John", "city": "Pune"}' \
http://localhost:8080/v1/users/1234

# sample Get curl command (retrieve specific user)
curl -X GET -H "Content-Type: application/json" \
http://localhost:8080/v1/users/123

# sample Delete curl command
curl -X DELETE -H "Content-Type: application/json" \
http://localhost:8080/v1/users/123

{{end}}