package services

import (
	pb "github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/gen/api/v1"
	"github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/pkg/grpc/server/daos"
)

type {{.ResourceName}}Service struct {}

var {{.ResourceNameSingular}}Dao = daos.{{.ResourceName}}Dao{}

func ({{.ResourceName}}Service *{{.ResourceName}}Service) Create{{.ResourceName}}({{.ResourceNameSingular}} *pb.{{.ResourceName}}) error {
	return {{.ResourceNameSingular}}Dao.Create{{.ResourceName}}({{.ResourceNameSingular}})
}

func ({{.ResourceName}}Service *{{.ResourceName}}Service) Get{{.ResourceName}}(id string) (*pb.{{.ResourceName}}, error) {
	return {{.ResourceNameSingular}}Dao.Get{{.ResourceName}}(id)
}

func ({{.ResourceName}}Service *{{.ResourceName}}Service) List{{.ResourceName}}s() ([]*pb.{{.ResourceName}}, error) {
	return {{.ResourceNameSingular}}Dao.List{{.ResourceName}}s()
}

func ({{.ResourceName}}Service *{{.ResourceName}}Service) Update{{.ResourceName}}(id string, {{.ResourceNameSingular}} *pb.{{.ResourceName}}) error {
	return {{.ResourceNameSingular}}Dao.Update{{.ResourceName}}(id, {{.ResourceNameSingular}})
}

func ({{.ResourceName}}Service *{{.ResourceName}}Service) Delete{{.ResourceName}}(id string) error {
	return {{.ResourceNameSingular}}Dao.Delete{{.ResourceName}}(id)
}