package models

type {{.CapsResourceNameSingular}} struct {
    {{GetPrimaryKey}}
{{range $k, $v := .Fields}}
    {{if eq $k "Id"}}
    {{else}}
    {{$k}} {{AddPointerIfCompositeField $k}} `json:"{{ToLowerCamelCase $k}},omitempty"`
    {{end}}
{{end}}
}