package daos

import (
	"errors"
    "github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/pkg/grpc/server/daos/clients/sqls"
    {{.SmallResourceNameSingular}}Client "github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/pkg/grpc/server/daos/clients/sqls/{{.SmallKebabCaseResourceNameSingular}}-client"
	"github.com/{{.UserName}}/{{.RepositoryName}}/{{.NodeName}}/pkg/grpc/server/models"
    log "github.com/sirupsen/logrus"
)

type {{.CapsResourceNameSingular}}Dao struct {
	sqlClient *sqls.MySQLClient
}

func New{{.CapsResourceNameSingular}}Dao() (*{{.CapsResourceNameSingular}}Dao, error) {
	sqlClient, err := sqls.InitMySQLDB()
	if err != nil {
		return nil, err
	}
	err = {{.SmallResourceNameSingular}}Client.Migrate(sqlClient)
    if err != nil {
        return nil, err
    }
	return &{{.CapsResourceNameSingular}}Dao{
		sqlClient,
	}, nil
}

func ({{.SmallResourceNameSingular}}Dao *{{.CapsResourceNameSingular}}Dao) Create{{.CapsResourceNameSingular}}({{.SmallResourceNameSingular}} models.{{.CapsResourceNameSingular}}) error {
	_, err := {{.SmallResourceNameSingular}}Client.Create({{.SmallResourceNameSingular}}Dao.sqlClient, {{.SmallResourceNameSingular}})
	if err != nil {
		return err
	}
	log.Debugf("{{.SmallResourceNameSingular}} created")
	return nil
}

func ({{.SmallResourceNameSingular}}Dao *{{.CapsResourceNameSingular}}Dao) Update{{.CapsResourceNameSingular}}(id int64, {{.SmallResourceNameSingular}} models.{{.CapsResourceNameSingular}}) error {
	if id != {{.SmallResourceNameSingular}}.Id {
		return errors.New("id and payload don't match")
	}
    _, err := {{.SmallResourceNameSingular}}Client.Update({{.SmallResourceNameSingular}}Dao.sqlClient, id, {{.SmallResourceNameSingular}})
	if err != nil {
		return err
	}
	log.Debugf("{{.SmallResourceNameSingular}} updated")
	return nil
}

func ({{.SmallResourceNameSingular}}Dao *{{.CapsResourceNameSingular}}Dao) Delete{{.CapsResourceNameSingular}}(id int64) error {
    err := {{.SmallResourceNameSingular}}Client.Delete({{.SmallResourceNameSingular}}Dao.sqlClient, id)
	if err != nil {
		return err
	}
	log.Debugf("{{.SmallResourceNameSingular}} deleted")
	return nil
}

func ({{.SmallResourceNameSingular}}Dao *{{.CapsResourceNameSingular}}Dao) List{{.CapsResourceNamePlural}}() ([]models.{{.CapsResourceNameSingular}}, error) {
    {{.SmallResourceNamePlural}}, err := {{.SmallResourceNameSingular}}Client.All({{.SmallResourceNameSingular}}Dao.sqlClient)
	if err != nil {
		return {{.SmallResourceNamePlural}}, err
	}
	log.Debugf("{{.SmallResourceNameSingular}} listed")
	return {{.SmallResourceNamePlural}}, nil
}

func ({{.SmallResourceNameSingular}}Dao *{{.CapsResourceNameSingular}}Dao) Get{{.CapsResourceNameSingular}}(id int64) (models.{{.CapsResourceNameSingular}}, error) {
	{{.SmallResourceNameSingular}}, err := {{.SmallResourceNameSingular}}Client.Get({{.SmallResourceNameSingular}}Dao.sqlClient, id)
	if err != nil {
		return models.{{.CapsResourceNameSingular}}{}, err
	}
	log.Debugf("{{.SmallResourceNameSingular}} retrieved")
	return *{{.SmallResourceNameSingular}}, nil
}
