package models
{{if .IsStringID}}
import "github.com/google/uuid"
{{end}}
type {{.CapsResourceNameSingular}} struct {
{{GetPrimaryKey ""}}
{{range $k, $v := .Fields}}
    {{if eq $k "ID"}}
    {{else}}
    {{$k}} {{$v}} `json:"{{ToLowerCamelCase $k}},omitempty"`
    {{end}}
{{end}}
}