package models

import (
{{if .IsStringID}}
    "github.com/google/uuid"
{{end}}
	"gorm.io/gorm"
)

type {{.CapsResourceNameSingular}} struct {
	gorm.Model
	{{GetPrimaryKey "gorm"}}
{{range $k, $v := .Fields}}
    {{if eq $k "ID"}}
    {{else}}
    {{AddForeignKeyIfCompositeField $k $v}}
    {{end}}
{{end}}
}

{{if .IsStringID}}
// BeforeCreate hook to generate UUID before creating a record
func (m *{{.CapsResourceNameSingular}}) BeforeCreate(tx *gorm.DB) error {
	m.ID = uuid.New()
	return nil
}
{{end}}
